# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# archive
archive/*


# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
smh.iml
*.cover
.hypothesis/
.pytest_cache/
/test/data/outparquet/*
*.parquet.snappy*
# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
.env
.venv
venv/
ENV/
env.bak/
venv.bak/
venv*/

# Sphinx documentation
docs/build/

# Pycharm project settings
.idea/

# Visual Studio Code project settings
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# MacOS
.DS_Store
/test/data/outparquet/

archive/
tutorials/application_default_credentials.json

# Pyre type checker
.pyre/
.coverage
reports/
